@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

// font
@mixin noto() {
    font-family: "Noto Sans KR", sans-serif;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
a {
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
button {
    display: inline-block;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
img {
    display: inline-block;
    width: 100%;
    max-width: 100%;
    vertical-align: top;
}

body {
    position: relative;
    min-width: 360px;
    width: 100%;
    font-size: 16px;
    word-break: keep-all;
    line-height: 1.5;
    @include noto();
    color: #fff;
    background-color: #fff;
    *, *::before, *::after {
        box-sizing: border-box;
    }
}

input, select, textarea {
    font-family: inherit;
    outline: none;
    resize: none;
}

// breakPoints
$sm: "768px";
$md: "1024px";
$lg: "1350px";
$xl: "1630px";

@mixin transition($property: all, $duration: .15s, $timing: linear, $delay: 0s ) {
    transition-property: $property;
    transition-duration: $duration;
    transition-timing-function: $timing;
    transition-delay: $delay;
}

.visible-lg {
    display: block !important;
    @media(max-width: $md) {
        display: none !important;
    }
}
.visible-sm {
    display: none !important;
    @media(max-width: $md) {
        display: block !important;
    }
}

.container {
    display: block;
    margin: 0 auto;
    padding: 0 15px;
    width: 100%;
    max-width: 1310px;
}

.container-fluid {
    display: block;
    margin:  0 auto;
    width: 100%;
    padding: 0 15px;
}


#smooth-wrapper {
    position: relative;
}