* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

body {
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.5;
  color: #fff;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
}

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none;
}

.visible-lg {
  display: block !important;
}
@media (max-width: 1024px) {
  .visible-lg {
    display: none !important;
  }
}

.visible-sm {
  display: none !important;
}
@media (max-width: 1024px) {
  .visible-sm {
    display: block !important;
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1310px;
}

.container-fluid {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

#header {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 25%;
  overflow: hidden;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
  text-align: center;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 999;
}
#header .container-fluid {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
}
#header .container-fluid #logo {
  display: inline-block;
  font-size: 0;
}
#header .container-fluid #logo > a {
  padding: 0 15px;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
}
#header .container-fluid .btn-area {
  position: absolute;
  top: 8px;
  right: 8px;
  display: block;
}
#header .container-fluid .btn-area button {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  background-color: rgba(0, 0, 0, 0.2);
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#header .container-fluid .btn-area button .bar {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  height: 3px;
  border-radius: 999px;
  background-color: #000;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#header .container-fluid .btn-area button .bar:first-child {
  top: calc(50% - 4px);
}
#header .container-fluid .btn-area button .bar:last-child {
  top: calc(50% + 4px);
}
#header .container-fluid .btn-area button:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
#header .container-fluid .btn-area button:hover .bar {
  background-color: #fff;
}
#header .container-fluid #gnb {
  overflow: hidden;
  max-height: 0;
  transition-property: all;
  transition-duration: 0.5s;
  transition-timing-function: linear;
  transition-delay: 0s;
  opacity: 0;
  visibility: hidden;
}
#header .container-fluid #gnb > ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  padding: 60px 0;
}
#header .container-fluid #gnb > ul > li > a {
  position: relative;
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
}
#header .container-fluid #gnb > ul > li > a:before {
  content: "";
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  width: 4px;
  height: 4px;
  border-radius: 50%;
  opacity: 0;
  visibility: hidden;
  background-color: #000;
  transition-property: all;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
#header .container-fluid #gnb > ul > li > a:hover:before {
  top: -8px;
  opacity: 1;
  visibility: visible;
}
#header.show .container-fluid .btn-area button .bar:first-child {
  transform: translate(-50%, -50%) rotate(135deg);
  top: 50%;
}
#header.show .container-fluid .btn-area button .bar:last-child {
  transform: translate(-50%, -50%) rotate(-135deg);
  top: 50%;
}
#header.show .container-fluid #gnb {
  max-height: calc(100svh - 60px);
  opacity: 1;
  visibility: visible;
}/*# sourceMappingURL=default.css.map */