@import 'common';

// header
#header {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 25%;
    overflow: hidden;
    @include transition();
    text-align: center;
    border-radius: 6px;
    color: #000;
    background-color: rgba($color: #fff, $alpha: .8);
    mix-blend-mode: difference;
    z-index: 999;
    .container-fluid {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 0;
        #logo {
            display: inline-block;
            font-size: 0;
            > a {
                padding: 0 15px;
                font-size: 22px;
                height: 40px;
                line-height: 40px;
            }
        }
        .btn-area {
            position: absolute;
            top: 8px;
            right: 8px;
            display: block;
            button {
                position: relative;
                display: block;
                width: 24px;
                height: 24px;
                border-radius: 2px;
                background-color: rgba($color: #000000, $alpha: .2);
                @include transition();
                .bar {
                    position: absolute;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 65%;
                    height: 3px;
                    border-radius: 999px;
                    background-color: #000;
                    @include transition();
                    &:first-child {
                        top: calc(50% - 4px);
                    }
                    &:last-child {
                        top: calc(50% + 4px);
                    }
                }
                &:hover {
                    background-color: rgba($color: #000000, $alpha: .8);
                    .bar {
                        background-color: #fff;
                    }
                }
            }
        }
        #gnb {
            overflow: hidden;
            max-height: 0;
            @include transition($duration: .5s);
            opacity: 0;
            visibility: hidden;
            > ul {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 30px;
                padding: 60px 0;
                > li {
                    > a {
                        position: relative;
                        display: inline-block;
                        padding: 0 20px;
                        font-size: 18px;
                        &:before {
                            content: '';
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%);
                            width: 4px;
                            height: 4px;
                            border-radius: 50%;
                            opacity: 0;
                            visibility: hidden;
                            background-color: #000;
                            @include transition();
                        }
                        &:hover {
                            &:before {
                                top: -8px;
                                opacity: 1;
                                visibility: visible;
                            }
                        }
                    }
                }
            }
        }
    }
    &.show {
        .container-fluid {
            .btn-area {
                button {
                    .bar {
                        &:first-child {
                            transform: translate(-50%, -50%) rotate(135deg);
                            top: 50%;
                        }
                        &:last-child {
                            transform: translate(-50%, -50%) rotate(-135deg);
                            top: 50%;
                        }
                    }
                }
            }
            #gnb {
                max-height: calc(100svh - 60px);
                opacity: 1;
                visibility: visible;
            }
        }
    }
    @media(max-width: $lg) {
        max-width: 50%;
    }
    @media(max-width: $md) {
        max-width: 80%;
    }
}


.img-bg {
    position: fixed;
    bottom: 30px;
    right: 30px;
    transform: translate(-50%, -50%);
    width: 5vw;
    animation: rotate 30s linear infinite;
    opacity: .8;
    pointer-events: none;
    mix-blend-mode: difference;
    img {
        display: block;
        width: 100%;
    }
    @media(max-width: $lg) {
        bottom: 15px;
        right: 15px;
        width: 10vw;
    }
    @media(max-width: $md) {
        width: 15vw;
    }
}

// footer
#footer {

}