@import 'common';

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.about {
    position: relative;
    height: 100svh;
    padding: 100px 0 60px;
    color: #fff;
    background-color: #000;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100svh;
    background-color: #000;
    overflow: hidden;
    h2 {
        font-size: 100px;
    }
    p {
        font-size: 30px;
    }
    figure {
        margin-left: auto;
        margin-right: auto;
    }
    & ~ section {
        border-top: 1px solid #fff;
    }
}