@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

button {
  display: inline-block;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: inline-block;
  width: 100%;
  max-width: 100%;
  vertical-align: top;
}

body {
  position: relative;
  min-width: 360px;
  width: 100%;
  font-size: 16px;
  word-break: keep-all;
  line-height: 1.5;
  font-family: "Noto Sans KR", sans-serif;
  color: #fff;
  background-color: #fff;
}
body *, body *::before, body *::after {
  box-sizing: border-box;
}

input, select, textarea {
  font-family: inherit;
  outline: none;
  resize: none;
}

.visible-lg {
  display: block !important;
}
@media (max-width: 1024px) {
  .visible-lg {
    display: none !important;
  }
}

.visible-sm {
  display: none !important;
}
@media (max-width: 1024px) {
  .visible-sm {
    display: block !important;
  }
}

.container {
  display: block;
  margin: 0 auto;
  padding: 0 15px;
  width: 100%;
  max-width: 1310px;
}

.container-fluid {
  display: block;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

#smooth-wrapper {
  position: relative;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#intro {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 100px 0 60px;
  overflow: hidden;
  color: #fff;
  background-color: #000;
}
#intro .container {
  position: relative;
  z-index: 10;
}
#intro .container > div.section-header {
  position: relative;
  text-align: center;
}
#intro .container > div.section-header .split-title {
  letter-spacing: 10px;
  font-size: 100px;
}
@media (max-width: 1024px) {
  #intro .container > div.section-header .split-title {
    font-size: 30px;
  }
}
#intro .bg-list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#intro .bg-list img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#intro .bg-list > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#intro .bg-list > div.bg-img {
  z-index: 0;
  background: url("./../images/main/img_jumbotron_bg.png") no-repeat 50% 50%/cover;
}
#intro .bg-list > div.bg-img img {
  position: relative;
  mix-blend-mode: plus-lighter;
  z-index: 1;
}
#intro .bg-list > div.bg-img:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7) 10%, transparent);
}
#intro .bg-list > div.bg-star {
  z-index: 1;
  mix-blend-mode: lighten;
}
#intro .bg-list > div.bg-earth {
  opacity: 1;
  z-index: 2;
}
#intro .bg-list > div.bg-moon {
  opacity: 0.7;
}
#intro .bg-list > div.bg-moon img {
  -o-object-position: 100% 0;
     object-position: 100% 0;
}
#intro .bg-list > div.bg-fade {
  position: relative;
  z-index: 4;
}

/* about */
.about {
  height: 100svh;
}
.about .container > div.section-header > h2 {
  display: block;
  font-size: 30px;
}/*# sourceMappingURL=main.css.map */